:root{
	box-sizing: border-box;
	font-size: calc(1vw + 0.1em);
}
body {
	background-image: url('http://cofelab.ru/wp-content/uploads/2018/05/3c8ba724450a8ab6374e8c95b7f0841b.jpg');
}
h1 {
	margin: 0 auto; 
	background-color: rgb(0,0,100);
	border-radius: 80px;
	padding: 5px;
}
nav {
	margin: 0 auto;
	background-color: rgb(100,100,100);
	padding: 10px;
}
#im {
	margin: 0 auto;
	width: 40px;
	background-color: rgb(0,0,100);
	border-radius: 80px;
}
.cht {
	background-color: blue;
}

#sslk {
	margin: 0 auto; 
	background-color: rgb(100,100,150);
	width: 600px;
	padding: 5px;
	border-color: rgb(100,100,150);
}
table {
	margin: 0 auto; 
	background-color: rgb(50,50,50);
}
form{
	margin: 0 auto;
	width:400px;
	background-color: rgb(150,150,150);
}


select{
	margin: 0 auto;
	background-color: rgb(150,150,150);
}
input{
	margin: 0 auto;
	background-color: rgb(150,150,150);
}


textarea {
	margin: 0 auto;
	background-color: rgb(150,150,150);
}

footer {

	margin: 0 auto;
	background-color: rgb(150,150,150);
}

.links {
    display: flex;
    flex-direction: column;
}

.links, .table, .form {
    justify-content: center;
}

.navigat {
	margin: 0 auto;
    display: flex;
    flex-direction: row;
    order: 0;
}

.links {
    order: 3;
}

.table {
	order: 5;
}

.form {
    order: 4;
}

@media (min-width: 800px) {
	#nav {
		margin: 0 auto;
        margin-top: 15px;
        max-width: 400px;
        text-align: center;
        padding: 10px;
        word-spacing: 30px;
        word-wrap: inherit;
    }

    .navigat { 
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        order: 0;
    }

    .links {
   		order: 3;
	}

    .table {
        order: 5;
    }

    .form {
    	max-width: 600px;
        order: 4;
    }
}